<div id="<%= dom_id challenge %>">
  <p>
    <strong>Title:</strong>
    <%= challenge.title %>
  </p>

  <%= tag.div(data: { controller: "markdown", markdown_input_value: challenge.description }) do %>
    <%= tag.div(data: { markdown_target: "output" }) %>
  <% end %>
</div>
